@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: papayawhip;
}

main {
    padding: 16px;
    color: #005A5B;
    font-family: Merriweather;
}

footer {
    padding: 30px;
    background-color: #008C72;
    font-size: large;
    color: beige;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Merriweather;
}

img {
    height: 200px;
    box-shadow: 10px 5px 5px #02A676;
}

a:hover {
    text-shadow: 1px 1px 2px plum;
}

nav {
    padding: 18px;
    border-bottom: 1px solid black;
    background-color: #02A676;
    font-weight: bold;
    font-family: Merriweather;
}

tr:nth-child(even) {
    background-color: #89D99D;
}

a {
    text-decoration: none;
    color: #007369;


}

nav a {
    color: beige;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
